@model IEnumerable<MadrasahManagement.Models.ExamFeeCollection>

@{
    ViewData["Title"] = "Exam Fee Collections";
}

<h2>@ViewData["Title"]</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Add New Fee</a>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Student</th>
            <th>Class</th>
            <th>Exam</th
            <th>Total Subject</th>
            <th>Exam Fee</th>
           @*  <th>Subjects</th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Student.StudentName</td>
                <td>@item.Class.ClassName</td>
                <td>@item.Examination.ExamName</td>
                <td>@item.TotalSubject</td>
                <td>৳ @item.ExamFee</td>
               @*  <td>@item.Subject.SubjectName</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.FeeCollectionId" class="btn btn-danger btn-sm">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="text-end">Total Amount:</th>
            <th colspan="2" class="text-success">৳ @ViewBag.TotalAmount</th>
        </tr>
    </tfoot>
</table>
